            /* ADMISSION PAGE  */

/* BODY  */
body{
    font-family: sans-serif;
}

/* FIXED BG-IMG  */
.admission-fixed-img-title{
  color: #fff;
  font-size: 2.8rem;
  padding-top: 110px;
    margin-top: 180px;
}

@media (max-width:800px) {
    .admission-fixed-img-title{
        font-size: 1.7rem;
        padding-bottom: 100px !important;
        padding-top: 10px !important;
    }
}
/* --END FIXED BG-IMG--  */


/* OUR SELECTION PROCESS  */
.slection-process-span{
  color: #d70140;
}

.admission-statics-span{
  color: #d70140;
}

.admission-dropdown{
  background-color: #d70140 !important;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
}

/* carousel-slide indicator style  */
.carousel .carousel-indicators button{
  background-color: #746f6f;
}/* --END OUR SELECTION PROCESS--  */


/* ADMISSION STATICS  */
/* tables  */
/* 2022  admission color*/
.table-bg{
  background-color: #fbd153;
}

.sub-table-bg{
  background-color: #f2d693;
}

/* table.table-sty{
  border-color: #fffc5f;
} */


/* 2020  admission color (Green)*/
.table-green{
  background-color: rgb(68, 176, 68);
}

.sub-table-green{
  background-color: rgb(123, 246, 123);
}
/* ---  */


/* 2019  admission color (blue)*/
.table-blue{
  background-color: rgb(123, 89, 191);
}

.sub-table-blue{
  background-color: rgb(166, 148, 246);
}
/* ---  */


/* 2018 admission color (orange) */
.table-orange{
  background-color: rgb(179, 112, 50);
}

.sub-table-orange{
  background-color: rgb(228, 169, 115);
}


/* 2021 admission color (red) */

.table-red{
  background-color: #f04679;
}

.sub-table-red{
  background-color: #f5adc2;
}

/* ---  */


/* Js display properity  */

.display{
  display: none;
}

.admission-bg-btn{
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  color: #fff !important;
  border: none;
}

.admission-bg-btn:focus{
  border: none !important;
}

/* Scholarship */

.scholarship-title{
  background-color: #fBe6ec;
}

.scholarship-span{
  color: #d70140;
}
/* --END ADMISSION STATICS--  */


/* BLER ANIMATION */
.bler-animation{
  -webkit-animation: fadein 1s linear 1 forwards;
  animation: fadein 1s linear 1 forwards;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}/* --END BLER ANIMATION--  */