            /* ADMISSION PAGE  */

/* BODY  */
body{
    font-family: sans-serif;
}

/* FIXED BG-IMG  */
.admission-fixed-img-title{
  color: #fff;
  font-size: 2.8rem;
  padding-top: 110px;
}
@media (max-width:425px) {
  .admission-fixed-img-title{
      font-size: 1.7rem;
      padding-bottom: 100px;
  }
}/* --END FIXED BG-IMG--  */

/* OUR SELECTION PROCESS  */
.slection-process-span{
  color: #d70140;
}

.admission-statics-span{
  color: #d70140;
}

.admission-dropdown{
  background-color: #d70140 !important;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
}/* --END OUR SELECTION PROCESS--  */


/* ADMISSION STATICS  */
/* tables  */
.table-bg{
  background-color: #d70140;
}

.sub-table-bg{
  background-color: #f36892;
}

table.table-sty{
  border-color: #d70140;
}

/* Js display properity  */

.display{
  display: none;
}

.admission-bg-btn{
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  color: #fff !important;
  border: none;
}

.admission-bg-btn:focus{
  border: none !important;
}

/* Scholarship */

.scholarship-title{
  background-color: #fBe6ec;
}

.scholarship-span{
  color: #d70140;
}
/* --END ADMISSION STATICS--  */


/* BLER ANIMATION */
.bler-animation{
  -webkit-animation: fadein 1s linear 1 forwards;
  animation: fadein 1s linear 1 forwards;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}/* --END BLER ANIMATION--  */