                                    /* CONTACT PAGE  */

/* FIXED BG-IMG STYLE  */
.contact-fixed-img-title {
    color: #fff;
    font-size: 2.8rem;
    padding-top: 110px;
    margin-top: 180px;
}

@media (max-width:800px) {
    .contact-fixed-img-title{
        font-size: 1.7rem;
        padding-bottom: 100px !important;
        padding-top: 10px !important;
    }
}

/* address bg-img-fix  */

.address-fixed-bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    width: 100%;
    color: white;
    display: table;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* --END FIXED BG-IMG STYLE--  */


/* ENQUIRY  */
/* contact form  */
.contact-form {
    background-color: #efdada;
    border-radius: 10px;
    flex-direction: column !important;
    align-items: center !important;
    padding: 20px 40px 20px 40px;
}

.contact-submit {
   background-color: #d70140 !important;
   padding-left: 150px !important;
   padding-right: 150px !important;
   color: #fff !important;
}

.contact-form-input{
    border-color: #d70140 !important;
}


@media (max-width:1000px) and (min-width:768px){
    .contact-submit{
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}


@media (max-width:1222px) and (min-width:1024px){
    .contact-submit{
        padding-left: 123px !important;
        padding-right: 123px !important;
    }
}


@media (max-width:340px){
    .contact-submit{
        padding-left: 112px !important;
        padding-right:112px !important;
    }
}

@media (max-width:375px) and (min-width:350px){
    .contact-submit{
        padding-left: 140px !important;
        padding-right:140px !important;
    }
}
/* --END ENQUIRY--  */


/* ADDERESS, EMAIL, PHONE */
.address-bar{
  color: #d70140;
}

.address-row{
    padding-top: 100px;
}

.address-col {
    position: relative;
    top: 70px;
    font-size: 20px;
}
@media (max-width:425px) {
  .address-fix-img{
    height: 388px;
  }
}

@media (max-width:768px) and(min-width:500px){
    .address-sub{
        font-size: .2rem !important;
    }
}
/* --END ADDERESS, EMAIL, PHONE--  */


/* LOCATION */
.contact-loc-link{
    width:100%;
    height: 500px;
}
/* --END LOCATION--  */



/* BLER ANIMATION*/
.bler-animation{
    -webkit-animation: fadein 1s linear 1 forwards;
    animation: fadein 1s linear 1 forwards;
  }
  
  @-webkit-keyframes fadein {
      0% {
          opacity: 0;
      }
  
      100% {
          opacity: 1;
      }
  }
  
  @keyframes fadein {
      0% {
          opacity: 0;
      }
  
      100% {
          opacity: 1;
      }
  }
/* --END BLER ANIMATION-- */
