
/* Events  */
/* FIXED BG-IMG STYLE  */
  .events-fixed-img-title{
    color: #fff;
    font-size: 2.8rem;
    padding-top: 110px;
    margin-top: 180px;
}

@media (max-width:800px) {
    .events-fixed-img-title{
        font-size: 1.7rem;
        padding-bottom: 100px !important;
        padding-top: 10px !important;
    }
}
/* --END FIXED BG-IMG STYLE--  */

   
/* GRID IMAGES STYLE  */
.grid-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal grid-cols that sits next to each other */
.grid-col {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.grid-col img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two grid-col-layout instead of four grid-cols */
@media screen and (max-width: 800px) {
  .grid-col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two grid-cols stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .grid-col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.grid-img{
    width: 100%;
}
/* --END GRID IMG STYLE--  */


/* SEEEDS CONNECT */
.seeds-content-span{
  color:#d70140;
}
/* --END SEEEDS CONNECT--  */

/* EVENT IMAGES SLIDE CAROUSEL  */

/* carousel buttons  */
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
  filter: none !important;
}

.event_carousel_head{
  color: #d70140;
}

@media (max-width:500px) {
  .video_carousel{
   max-width: 100%;
   height: auto;
   margin: 20px;
   padding-right: 40px;
  }

  .card {
    border: none !important;
  }
}
/*--END EVENT PAGE SLIDE CAROUSEL--  */

/* BLER ANIMATION*/
.bler-animation{
  -webkit-animation: fadein 1s linear 1 forwards;
  animation: fadein 1s linear 1 forwards;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* --END BLER ANIMATION--  */


