#admission_result {
    color: aliceblue;
    text-decoration: none !important;
}
#admission_result:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #d70140;
  }
  .form-control {
    /* width: 200px !important; */
    border-color: #d70140 !important;
   
  }
#result {
    padding-left: 30% !important;
    padding-right: 30% !important;
}
#searchForm{
    /* border:#d70140; */
    /* border-width:5px; 
    border-style:solid; */
    background-color: #efdada;
}
