
/* FIXED BG-IMG STYLE  */
.stories-fixed-img-title{
    color: #fff;
    font-size: 2.8rem;
    padding-top: 110px;
    margin-top: 180px;
}

@media (max-width:800px) {
    .stories-fixed-img-title{
        font-size: 1.7rem;
        padding-bottom: 100px !important;
        padding-top: 10px !important;
    }
}/* --END FIXED BG-IMG STYLE--  */


/* SUCEESS STORIES OF SEEEDS  */
/* card img style  */
.success-stories-img{
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    padding-top: 20px !important;
    padding: 50px;
    padding-bottom: 0px !important;
}

.success-stories-span{
  color:#d70140;
}

.success-stories-card{
 box-shadow: -4px 5px 30px #fab7cb;
border-radius: 10px;
border: none !important;
}

.stories-card-name{
  color: #d70140;
}
/* --END SUCCESS STORIES OF SEEEDS--  */


/* BLER ANIMATION */
.bler-animation{
  -webkit-animation: fadein 1.5s linear 1 forwards;
  animation: fadein 1.5s linear 1 forwards;
  opacity: 0;
}

.bler-animation.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* --END BLER ANIMATION--  */